@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Propietario">Propietario</a>.</p>
    <p>Learn about <a href="/Inquilino">Inquilino</a>.</p>

</div>
